body {
    font-family: Calibri, sans-serif;
     background-color: #6ec3f9; 
}
#header {
    background-color: #5A5377;
    color: #fff;
    padding: 20px;
    text-align: center;
}
#logout-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}
form {
    background-color: #fff;
    padding: 20px;
    max-width: 500px;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    animation: slideIn 1.0s ease-in-out;
    opacity: 0.87;
}
@keyframes slideIn {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
form h2 {
    font-size: 50px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #333;
}
form label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-align:left;
}
form input[type="text"], form input[type="password"], form input[type="email"] {
    height: 40px;
    border-radius: 5px;
    padding: 0px 10px;
    border: none;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: solid thin #aaa;
}
form input[type="submit"] {
    background-color: #1877f2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
form input[type="submit"]:hover {
    background-color: #166fe5;
}
form a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
}
form a:hover {
    color: #1877f2;
}
button:hover {
    background-color: #4383cb;
    color: #fff;
  }
  button {
    border-radius: 5px;
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
  }
.mt-3{
    font-size: 20px;
}
div.mt-3 a {
    font-size: 20px;
  }
  p{
    font-size:20px;
  }
  p a {
    font-size:20px;
  }
  html, body {
    width: 100%;
    height: 100%;
  }
  
  .App {
    min-height: 100vh;
  }
  h1{
    color:#fff;
    font-size:50px;
    text-align: center;
  }